<%- include('../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationGuestForm.js"></script>
        <h2><%= pageTitle %></h2>
        <form method="post" action="<%= formAction %>" id="form" class="form" novalidate onsubmit="return guestValidateForm();">
            <input type="hidden" name="_id" value="<%= gst._id %>">
            <label for="firstName">Imię:<sup> <abbr title="required">*</abbr>  </sup></label>
            <input class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>" required type="text" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%= gst.firstName %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorFirstName" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('firstName'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('firstName')).message %>
                        <% } %>
            </span>
            
            <label for="lastName">Nazwisko:<sup> <abbr title="required">*</abbr>  </sup></label>
            <input class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>" required type="text" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= gst.lastName %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorLastName" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('lastName'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('lastName')).message %>
                        <% } %>
            </span>
            
            <label for="tel">Numer Telefonu:<sup> <abbr title="required">*</abbr>  </sup></label>
            <input class="<%= validationErrors.find(e => e.path.includes('tel')) ? 'error-input' : '' %>" required type="text"  name="tel" id="tel" placeholder="np 690700420" value="<%= gst.tel %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorTelNumber" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('tel'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('tel')).message %>
                        <% } %>
            </span>
            
            <label for="email">E-Mail: <sup> <abbr title="required">*</abbr>  </sup></label>
            <input class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>" type="text" name="email" id="email" placeholder="np vietstreet@food.pl" value="<%= gst.email %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorEmail" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('email'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('email')).message %>
                        <% } %>
            </span>
    
            
            <div class="form-buttons">
                
                <% if (formMode == 'edit') { %>
                    
                        <input  type="submit" value="Edytuj" class="form-button-submit"></input>
                    
                    <% } %>
                <% if (formMode == 'showDetails') { %>
                   
                        <a href="/guests/edit/<%= gst._id %>" class="form-button-edit list-actions-button-edit">Edytuj</a>
                   
                    <% } %>
                    <% if (formMode == 'createNew') { %>
                   
                            <input type="submit" value="<%= btnLabel %>" class="form-button-submit"/>
                   
                        <% } %>
                <p id="errorsSummary" class="errors-text errors-summary"></p>
                
                <a href="/guests" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
            
            <h2>
                Szczegóły rezerwacji
            </h2>
            <table class="table-list">
                <thead>
                <tr>
                    <th>Numer zamówienia</th>
                    <th>Data</th>
                    <th>Godzina</th>
                    <th>Liczba gości</th>
                </tr>
                </thead>
                <tbody>
                    
                <% for (let e of gst.reservations) { %>
                    <% console.log(e) %>
                    <tr>
                        <td><%= e.orderNumber %></td>
                        <td><%= e.date %></td>
                        <td><%= e.time %></td>
                        <td><%= e.numberOfGuests %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <% } %>
            
    </main>

     


    <%- include('../fragments/footer.ejs') %>