<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Lista Gości</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Akcje</th>
                </tr>
            </thead>

            <tbody>
                <tbody>
                    <% for (let guest of guests) { %>
                        <tr>
                            <td><%= guest.firstName %></td>
                            <td><%= guest.lastName %></td>
                            <td><%= guest.email %></td>
                            <td class="table-list">
                        
                                <ul class="list-actions">
                                    <li><a href="/guests/details/<%=guest._id%>" class="list-actions-button-details list-actions-button-details">Szczegóły</a></li>
                                    <li><a href="/guests/edit/<%=guest._id%>" class="list-actions-button-edit list-actions-button-details">Edytuj</a></li>
                                    <li><a href="/guests/delete/<%=guest._id%>" class="list-actions-button-delete list-actions-button-details">Usuń</a></li>
                                </ul>
                            </td>
                        </tr>
                    <% } %>
         
        </tbody>
        </table>

        <p><a href="guests/add" class="button-add">Dodaj nowego gościa</a></p>
        


    </main>


    <%- include('../fragments/footer.ejs') %>