<%- include('../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationReservationForm.js"></script>
    <form method="post" action="<%= formAction %>" id="form" class="form" novalidate onsubmit="return reservationValidateForm();">
        <input <%=(formMode=='showDetails' ) ? 'disabled' : '' %> type="hidden" name="_id" value="<%= reserv._id %>">
        <label for="guest">Wybierz gościa:
            <% if (formMode!='showDetails' ) { %><abbr title="required"
            aria-label="required">*</abbr>
        <% } %></label>
   
   <select <%=(formMode=='showDetails' ) ? 'disabled' : '' %> name="guest_id" id="guest">

    <% for (let i=0; i<allGuests.length; i++) { let gst = allGuests[i]; %>
        <option value="<%= gst._id %>" label="<%= gst.email %>">
         
        </option>
        <% } %>
</select>
<span id="errorReservationGuest" class="errors-text">
    <% if (validationErrors.find(e=> e.path.includes('guest_id'))) { %>
        <%= validationErrors.find(e=> e.path.includes('guest_id')).message %>
            <% } %>
</span>

<label for="table">Stolik: <% if (formMode!='showDetails' ) { %><abbr title="required"
    aria-label="required">*</abbr>
<% } %></label>
<select class="<%= validationErrors.find(e => e.path.includes('table_id')) ? 'error-input' : '' %>"
id="table" name="table_id" required <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
<option value="<%=reserv.table_id %>" selected label="<%=reserv.table_id %>">--- Wybierz stolik
---</option>
<% for (let i=0; i<allTables.length; i++) { let tb=allTables[i]; %>
<option value="<%= tb._id %>" 
    label="<%= tb._id %>" <%=(reserv._id &&
    tb._id.toString()==reserv.table_id.toString()) ? 'selected' : '' %>></option>
<% } %>
</select>
<span id="errorReservationTable" class="errors-text">
    <% if (validationErrors.find(e=> e.path.includes('table_id'))) { %>
        <%= validationErrors.find(e=> e.path.includes('table_id')).message %>
            <% } %>
</span>

<label for="reservationDate">Data: <% if (formMode!='showDetails' ) { %><abbr
    title="required" aria-label="required">*</abbr>
<% } %></label>
<% if (formMode=='createNew' ) { %>
<input
placeholder="dd-mm-rrrr"
<%=(formMode=='showDetails' ) ? 'disabled' : '' %>
class="<%= validationErrors.find(e => e.path.includes('date')) ? 'error-input' : '' %>"
type="text" name="date" id="reservationDate"
value="<%=reserv.date %>">
<span id="errorReservationDate" class="errors-text">
<% if (validationErrors.find(e=> e.path.includes('date'))) { %>
    <%= validationErrors.find(e=> e.path.includes('date')).message %>
        <% } %>
</span>
<% } else { %>  
<input
<%=(formMode=='showDetails' ) ? 'disabled' : '' %>
    class="<%= validationErrors.find(e => e.path.includes('date')) ? 'error-input' : '' %>"
    type="text" name="date" id="reservationDate"
    value="<%= (reserv.date)!=null ? reserv.date : '' %>"
    <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
<span id="errorReservationDate" class="errors-text">
    <% if (validationErrors.find(e=> e.path.includes('date'))) { %>
        <%= validationErrors.find(e=> e.path.includes('date')).message %>
            <% } %>
</span>
<% } %>

<label for="reservationTime">Godzina: <% if (formMode!='showDetails' ) { %><abbr
    title="required" aria-label="required">*</abbr>
<% } %></label>
<input
<%=(formMode=='showDetails' ) ? 'disabled' : '' %>
placeholder="np: 15:30"
class="<%= validationErrors.find(e => e.path.includes('time')) ? 'error-input' : '' %>"
type="text" name="time" id="reservationTime"
value="<%=reserv.time %>">
<span id="errorReservationTime" class="errors-text">
<% if (validationErrors.find(e=> e.path.includes('time'))) { %>
    <%= validationErrors.find(e=> e.path.includes('time')).message %>
        <% } %>
</span>


<label for="reservationNumberOfGuests">Liczba gości: <% if (formMode!='showDetails' ) { %><abbr
    title="required" aria-label="required">*</abbr>
<% } %></label>
<input
<%=(formMode=='showDetails' ) ? 'disabled' : '' %>
min="1"
max="8"
class="<%= validationErrors.find(e => e.path.includes('numberOfGuests')) ? 'error-input' : '' %>"
type="number" name="numberOfGuests" id="reservationNumberOfGuests"
value="<%=reserv.numberOfGuests %>">
<span id="errorReservationNumberOfGuests" class="errors-text">
<% if (validationErrors.find(e=> e.path.includes('numberOfGuests'))) { %>
    <%= validationErrors.find(e=> e.path.includes('numberOfGuests')).message %>
        <% } %>
</span>

<label for="reservationOrderNumber">Numer zamówienia: <% if (formMode!='showDetails' ) { %><abbr
    title="required" aria-label="required">*</abbr>
<% } %></label>
<input
<%=(formMode=='showDetails' ) ? 'disabled' : '' %>
class="<%= validationErrors.find(e => e.path.includes('orderNumber')) ? 'error-input' : '' %>"
type="number" name="orderNumber" id="reservationOrderNumber"
value="<%=reserv.orderNumber %>"
max="99" min="1">
<span id="errorReservationOrderNumber" class="errors-text">
<% if (validationErrors.find(e=> e.path.includes('orderNumber'))) { %>
    <%= validationErrors.find(e=> e.path.includes('orderNumber')).message %>
        <% } %>
</span>




    <div class="form-buttons">
        <p id="errorsSummary" class="errors-text errors-summary"></p>
       
                
            <% if (formMode == 'edit') { %>
                
                    <input  type="submit" value="Edytuj" class="form-button-submit"></input>
                
                <% } %>
            <% if (formMode == 'showDetails') { %>
               
                    <a href="/reservations/edit/<%= reserv._id %>" class="form-button-edit list-actions-button-edit">Edytuj</a>
               
                <% } %>
                <% if (formMode == 'createNew') { %>
               
                        <input type="submit" value="<%= btnLabel %>" class="form-button-submit"/>
               
                    <% } %>
            <p id="errorsSummary" class="errors-text errors-summary"></p>
            
            <a href="/reservations" class="form-button-cancel">Anuluj</a>
        </div>      
</form>

</main>

<%- include('../fragments/footer.ejs') %>