<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Rezerwacje</h2>
        
        <table class="table-list">
            <thead>
                <tr>
                    
                    <th>Imię i nazwisko gościa</th>
                    <th>Numer zamówienia</th>
                    <th>Data</th>
                    <th>Godzina</th>
                    <th>Akcje</th>

                </tr>
            </thead>


            <tbody>
                <% for (let reservation of reservations) { %>
                    <tr>
                        <td>
                            <%= reservation.guest.firstName %> <%= reservation.guest.lastName %>
                        </td>
                        <td>
                            <%= reservation.orderNumber %>
                        </td>
                        <td>
                            <%= reservation.date %>
                        </td>
                        <td>
                            <%= reservation.time %>
                        </td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/reservations/details/<%=reservation._id%>"
                                        class="list-actions-button-details">Details</a></li>
                                <li><a href="/reservations/edit/<%=reservation._id%>"
                                        class="list-actions-button-edit">Edit</a></li>
                                <li><a href="/reservations/delete/<%=reservation._id%>"
                                        class="list-actions-button-delete">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                    
            </tbody>
            <% }%>
        </table>

        <p><a href="/reservations/add" class="button-add"> Dodaj rezerwacje </a></p>

    </main>


    <%- include('../fragments/footer.ejs') %>