<%- include('../fragments/header.ejs') %>
<script type="application/javascript" src="/js/validationTableForm.js"></script>
    <main>
        <form method="post" action="<%= formAction %>" id="form" class="form" novalidate onsubmit="return tableValidateForm();">
            <input type="hidden" name="_id" value="<%= table._id %>">


            <label for="maxGuests">Maksymalna ilość miejsc:<sup> <abbr title="required">*</abbr>  </sup></label>
            <input required type="text" name="maxGuests" id="maxGuests" placeholder="max 8" value="<%= table.maxGuests %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorMaxGuests" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('maxGuests'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('maxGuests')).message %>
                        <% } %>
            </span>

            <label for="outside">Czy jest na zewnątrz?<sup> <abbr title="required">*</abbr>  </sup></label>
            <select  name="outside" id="outside" placeholder="tak / nie" value="<%= table.outside %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <option value="false">Nie</option>
                <option value="true">Tak</option>
        </select>
            <span id="errorOutside" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('outside'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('outside')).message %>
                        <% } %>
            </span>

            

            <div class="form-buttons">
                
                <% if (formMode == 'edit') { %>
                    
                        <input  type="submit" value="Dodaj" class="form-button-submit">Dodaj</input>
                    
                    <% } %>
                <% if (formMode == 'showDetails') { %>
                   
                        <a href="/tables/edit/<%= table._id %>" class="form-button-edit list-actions-button-edit">Edytuj</a>
                   
                    <% } %>
                    <% if (formMode == 'createNew') { %>
                   
                            <input type="submit" value="<%= btnLabel %>" class="form-button-submit"/>
                   
                        <% } %>
                <p id="errorsSummary" class="errors-text errors-summary"></p>
                
                <a href="/tables" class="form-button-cancel">Anuluj</a>
                <p id="errorsSummary" class="errors-text errors-summary"></p>
            </div>

        </form>
        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
            
            <h2>
                Szczegóły rezerwacji
            </h2>
            <table class="table-list">
                <thead>
                <tr>
                    <th>Numer zamówienia</th>
                    <th>Data</th>
                    <th>Godzina</th>
                    <th>Liczba gości</th>
                </tr>
                </thead>
                <tbody>
                    
                <% for (let e of table.reservations) { %>
                    <% console.log(e) %>
                    <tr>
                        <td><%= e.orderNumber %></td>
                        <td><%= e.date %></td>
                        <td><%= e.time %></td>
                        <td><%= e.numberOfGuests %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <% } %>
            

    </main>
 
    <%- include('../fragments/footer.ejs') %>