<%- include('../fragments/header.ejs') %>

    <main>
        <form method="post" action="<%= formAction %>" id="form" class="form" novalidate >
            <%= console.log( "TO SA STOLIKI: " + JSON.stringify(table)) %>
            <input type="hidden" name="_id" value="<%= table._id %>">


            <label for="maxGuests">Maksymalna ilość miejsc:<sup> <abbr title="required">*</abbr>  </sup></label>
            <input required type="text" name="maxGuests" id="maxGuests" placeholder="max 8" value="<%= table.maxGuests %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorFirstName" class="errors-text"></span>

            <label for="outside">Czy jest na zewnątrz?<sup> <abbr title="required">*</abbr>  </sup></label>
            <select  name="outside" id="outside" placeholder="tak / nie" value="<%= table.outside %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <option value="false">Nie</option>
                <option value="true">Tak</option>
        </select>
            <span id="errorFirstName" class="errors-text"></span>

            

            <div class="form-buttons">
                
                <% if (formMode == 'edit') { %>
                    
                        <input  type="submit" value="Dodaj" class="form-button-submit">Dodaj</input>
                    
                    <% } %>
                <% if (formMode == 'showDetails') { %>
                   
                        <a href="/tables/edit/<%= table._id %>" class="form-button-edit list-actions-button-edit">Edytuj</a>
                   
                    <% } %>
                    <% if (formMode == 'createNew') { %>
                   
                            <input type="submit" value="<%= btnLabel %>" class="form-button-submit"/>
                   
                        <% } %>
                <p id="errorsSummary" class="errors-text errors-summary"></p>
                
                <a href="/tables" class="form-button-cancel">Anuluj</a>
            </div>

        </form>

    </main>
 
    <%- include('../fragments/footer.ejs') %>